ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fbfbfb;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(239, 239, 239);
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  h1 {
    color: rgb(142, 142, 142);
  }

 h1 {
    text-shadow: 2px 2px rgb(0, 0, 0);
 }